@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,700&display=swap');

*{
    box-sizing: border-box;
    padding: 0%;
    gap: 0;
    margin: 0;
}

.menu{
    display: flex;
    padding: 10px 3rem;
    justify-content: space-between;
    font-family: 'Barlow', sans-serif;
    border-bottom: 1px solid rgb(219, 229, 230);
    background-color: rgb(250, 250, 250);
    align-items: center;
}

.logo{
    display: flex;
}

.logo-git{
    width: 25px;
    margin-left: 0.5rem;
}

.submenu{
    display: flex;
}

.menu_link{
    text-decoration: none;
    color: black;
    display:grid;
    justify-items: center;
    align-items: center;
}

.linkpro{
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu_link::after{
    height: 2px;
    content: "";
    width: 0%;
    background-color: red;
    content: "";
    transition: ease 0.3s ;
    margin-top: 0.4rem;
}

.menu_link:hover::after{
    height: 2px;
    width: 100%;
    background-color: red;
    content: "";
    transition: ease 0.3s ;
}

.pro{
    background-color: rgb(62, 84, 163);
    color: white;
    font-size: 9.2px;
    letter-spacing: 2px;
    font-style: normal;
    font-weight: 700;
    border-radius: 3px;
    padding: 0.25rem 0.4rem;
}

.enlaces{
    display: flex;
    padding: 10px;  
}

.btn_login{
    font-family: 'Barlow', sans-serif;
    background-color: black;
    color: white;
    border-radius: 30px;
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding: 0 1.5rem;
}

